---
layout: post
title: "Automated testing reports"
category: core
tags: [core, test, reports]
---
{% include JB/setup %}

[Mailing list post:](http://permalink.gmane.org/gmane.comp.security.openxpki.devel/114) 


	Alexander Klink | 14 May 13:19

	Automated testing reports

	Hi all,

	so, the automated testing scripts finally seem to be working. I've
	installed them at one of our test machines, which generates a report
	at http://build0.cynops.de/openxpki_tests/ (URL subject to later
	change).
	This report is generated at least nightly (one test run for one revision
	takes about 30 minutes, so doing it more often makes it more
	complicated). Please check it once it a while to see if something broke ...
	If someone wants to set up automatic testing on a different machine
	(for example a FreeBSD one?  that would be highly appreciated ...

	Best regards,
	    Alex
